.pc, .tablet, .mobile {
    display: none;
    font-size: 40px;
}

.pc{
    color: red;
}

/* PC */
@media screen and (min-width: 1024px) {
    .pc{
        display: block;
    }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px){
    .tablet{
        display: block;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .mobile{
        display: block;
    }
}